


.routine-type-list-container{
    display: flex;
    gap: 10px;

    .routine-type-item{
        align-items: center;
        background-color: white;
        border-radius: 5px;
        border: 2px solid gray;
        cursor: pointer;
        display: flex;
        height: 2rem;
        justify-content: center;
        width: 100%;
        padding: 10px;


        &.active{
            background-color: black;
            border: 2px solid white;
            color: lightgrey;
        }

    }

    

}



.routine-day-list-container{
    display: flex;
    gap: 10px;

    .routine-day-item{
        align-items: center;
        background-color: white;
        border-radius: 15px;
        border: 2px solid gray;
        cursor: pointer;
        display: flex;
        height: 2rem;
        justify-content: center;
        width: 100%;
        padding: 10px;


        &.active{
            background-color: black;
            border: 2px solid white;
            color: lightgrey;
        }
    }
}

